/* components/CircularText.css */
.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  font-weight: 900;
  color: #000; /* Black text */
  text-align: center;
  cursor: pointer;
}

.circular-text span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  font-size: 24px;
  /* Important: This ensures the text rotates around the center */
  transform-origin: 0 -80px; /* -80px is the radius */
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}